@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei UI", serif;
    font-size: 14px;
}

body {
    padding-top: 20px;
}

.main {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #777;
    border-radius: 5px;
}

/*title*/
.main .title {
    margin-bottom: 15px;
    padding-bottom: 5px;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
}

.main .title span {
    display: inline-block;
    padding: 0 8px;
    font-size: 20px;
    color: #fff;
    background: orange;
    border-radius: 5px;
}

/*table*/
table {
    width: 100%;
}

.tab, .tab td, .tab th {
    border: 1px solid #777;
    border-collapse: collapse;
}

.tab th, .tab th {
    height: 26px;
    line-height: 26px;
    padding-left: 5px;
}